<footer class="l-footer">
<div class="l-container">
  <div class="l-footer__inner">
    <div class="l-footer__logo">
        <a href="#">
            <img width="76" height="104" src="../images/logo_footer.png" alt="ハンドメイドねこグッズのお店laterierQueueのフッターのロゴ">
        </a>
    </div>
    <div class="l-footer__nav" role="navigation">
       <ul class="l-footer__nav-list">
        <% navItems.forEach((item)=> { %>
            <li class="l-footer__nav-item"><a class="l-footer__nav-link" href="<%= item.link %>"><%= item.name %></a></li>
        <% }) %>
       </ul>
       <ul class="l-footer__nav-legal-links">

         <li class="l-footer__nav-legal-item"><a class="l-footer__nav-legal-link" href="privacy.html">プライバシーポリシー</a></li>
         <li class="l-footer__nav-legal-item"><a class="l-footer__nav-legal-link" href="tokushoho.html">特定商取引法に関する表記</a></li>
       </ul>
    </div>

    <div class="l-footer__copy">
      <small>© l’atelier Queue All Rights Reserved. 2025</small>
    </div>
  </div>
</div>
</footer>