<section class="p-blog">
 <div class="l-container">
    <h2 class="c-section-title--center p-blog__title">ねこブログ</h2>
 <span class="c-section-subtitle--center">BLOG</span>
 <%- include('./components/parts/_menu-blog.ejs') %>
 <div class="p-blog__card-body">
    <ul class="p-blog__card-list">
        <li class="p-blog__card-item">
           <article class="p-blog__card-article">
            <figure class="p-blog__card-thumb">
                <img width="318" height="190" src="../images/blog-img1.jpg" alt="仰向けになって、こっちを見てるねこ">
            </figure>
            <div class="p-blog__card-desc">
                <div class="p-blog__card-note">
                    <time datetime="2021-11-05" class="p-blog__card-time">2021-11-05</time>
                    <span class="p-blog__card-label--primary">新記事追加！</span>
                </div>
                <h3 class="p-blog__card-title"><a class="p-blog__card-link" href="blog-page1.html">猫のための快適な睡眠環境を作る方法！</a></h3>
                <div class="p-blog__card-text">
                    猫は1日に 12～16時間も眠る と言われています。特にリラックスできる環境であれば、深い眠りにつきやすくなり、健康維持にもつながります。
                </div>
                <div class="p-blog__card-btn">
                    <a href="blog-page1.html" class="c-btn--blog">
                        詳細を見る
                        <span class="c-btn--blog__arrow"></span>

                    </a>
                </div>
            </div>
           </article>
        </li>
        <li class="p-blog__card-item">
           <article class="p-blog__card-article">
            <figure class="p-blog__card-thumb">
                <img width="318" height="190" src="../images/blog-img2.jpg" alt="猫の爪とぎ型をした木製キーホルダーと焼印付きの木箱">
            </figure>
            <div class="p-blog__card-desc">
                <div class="p-blog__card-note">
                    <time datetime="2021-11-01" class="p-blog__card-time">2021-11-01</time>
                    <span class="p-blog__card-label--primary">新商品情報</span>
                </div>
                <h3 class="p-blog__card-title"><a class="p-blog__card-link" href="cart.html">【焼印付】爪とぎ型キーホルダー登場！</a></h3>
                <div class="p-blog__card-text">
                    木の温もりを感じる爪とぎ型キーホルダー。焼印入りで特別感のあるアイテムです。使うほどに風合いが増し、猫好きな方へのプレゼントにもぴったりの一品です。
                </div>
                <div class="p-blog__card-btn">
                    <a href="cart.html" class="c-btn--blog">
                        詳細を見る
                        <span class="c-btn--blog__arrow"></span>

                    </a>
                </div>
            </div>
           </article>
        </li>
        <li class="p-blog__card-item">
           <article class="p-blog__card-article">
            <figure class="p-blog__card-thumb">
                <img width="318" height="190" src="../images/blog-img3.jpg" alt="トンネルから顔を出して真剣な表情をする茶トラ猫">
            </figure>
            <div class="p-blog__card-desc">
                <div class="p-blog__card-note">
                    <time datetime="2021-10-31" class="p-blog__card-time">2021-10-31</time>
                    <span class="p-blog__card-label--default">ちゃまめ氏</span>
                </div>
                <h3 class="p-blog__card-title"><a href="#" class="p-blog__card-link">何か問題でも…？</a></h3>
                <div class="p-blog__card-text">
                  <p>
                    トンネルの中からじっと見つめる猫。何か言いたげな表情に、思わず見入ってしまいます。遊び疲れたのか、それとも不満があるのか。そんな猫の仕草が愛おしく感じられます。
                  </p>
                </div>
                <div class="p-blog__card-btn">
                    <a href="#" class="c-btn--blog">
                     詳細を見る
                    <span class="c-btn--blog__arrow"></span>
                    </a>
                </div>
            </div>
           </article>
        </li>
        <li class="p-blog__card-item">
            <article class="p-blog__card-article">
                <figure class="p-blog__card-thumb">
                    <img width="318" height="190" src="../images/blog-img4.jpg" alt="猫の爪とぎ型をした木製キーホルダーと焼印付きの木箱">
                </figure>
                <div class="p-blog__card-desc">
                    <div class="p-blog__card-note">
                        <time datetime="2021-10-28" class="p-blog__card-time">2021-10-28</time>
                        <span class="p-blog__card-label--default">入荷情報</span>
                    </div>
                    <h3 class="p-blog__card-title"><a href="#" class="p-blog__card-link">里親募集型猫カフェ 猫式さんの委託販売ブースにアクセサリーを納品しました。</a></h3>
                    <div class="p-blog__card-text">
                      <p>
                        猫モチーフのアクセサリーや首輪を納品。売上の一部を活用し、保護猫の支援を行います。一つひとつ心を込めて制作したアイテムが、新しい飼い主との出会いをつなぐ手助けになります。
                      </p>
                    </div>
                    <div class="p-blog__card-btn">
                        <a href="#" class="c-btn--blog">
                            詳細を見る
                            <span class="c-btn--blog__arrow"></span>

                        </a>
                    </div>
                </div>
            </article>
        </li>
        <li class="p-blog__card-item">
            <article class="p-blog__card-article">
                <figure class="p-blog__card-thumb">
                    <img width="318" height="190" src="../images/blog-img5.jpg" alt="猫の爪とぎ型をした木製キーホルダーと焼印付きの木箱">
                </figure>
                <div class="p-blog__card-desc">
                    <div class="p-blog__card-note">
                        <time datetime="2021-10-20" class="p-blog__card-time">2021-10-20</time>
                    </div>
                    <h3 class="p-blog__card-title"><a href="#" class="p-blog__card-link">この帽子、似合ってる？」ふわふわ帽子をかぶった猫の反応が可愛すぎる！</a></h3>
                    <div class="p-blog__card-text">
                       <p>
                        ふわふわの帽子をかぶった猫。ちょっと驚いた表情だけど、意外と気に入った様子？まるでぬいぐるみのような可愛さに、思わず見とれてしまいますね。
                       </p>
                    </div>
                    <div class="p-blog__card-btn">
                        <a href="#" class="c-btn--blog">
                            詳細を見る
                            <span class="c-btn--blog__arrow"></span>

                        </a>
                    </div>
                </div>
            </article>
        </li>
    </ul>
 </div>
 <%- include('./components/parts/_pagination.ejs') %>
 </div>
</section>