<section class="p-category">
    <div class="l-container">
        <h2 class="c-section-title--left p-category__title">商品カテゴリー</h2>
    <div class="p-category__body">
        <ul class="p-category__list">
            <li class="p-category__item">
                <div class="p-category__wrapper">
                    <figure class="p-category__image">
                        <img width="120" height="120" src="../images/category-img1.jpg" alt="">
                    </figure>
                    <div class="p-category__name">
                        <p class="p-category__text">レジンブローチ</p>
                    </div>
                </div>
            </li>
            <li class="p-category__item">
                <div class="p-category__wrapper">
                    <figure class="p-category__image">
                        <img width="120" height="120" src="../images/category-img2.jpg" alt="">
                    </figure>
                    <div class="p-category__name">
                        <p class="p-category__text">猫用首輪</p>
                    </div>
                </div>
            </li>
            <li class="p-category__item">
                <div class="p-category__wrapper">
                    <figure class="p-category__image">
                        <img width="120" height="120" src="../images/category-img3.jpg" alt="">
                    </figure>
                    <div class="p-category__name">
                        <p class="p-category__text">けりぐるみ</p>
                    </div>
                </div>
            </li>
            <li class="p-category__item">
                <div class="p-category__wrapper">
                    <figure class="p-category__image">
                        <img width="120" height="120" src="../images/category-img4.jpg" alt="">
                    </figure>
                    <div class="p-category__name">
                        <p class="p-category__text">アクセサリー</p>
                    </div>
                </div>
            </li>
            <li class="p-category__item">
                <div class="p-category__wrapper">
                    <figure class="p-category__image">
                        <img width="120" height="120" src="../images/category-img5.jpg" alt="">
                    </figure>
                    <div class="p-category__name">
                        <p class="p-category__text">その他雑貨</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    </div>
</section>