<section class="p-contact">
    <div class="l-container">
    <h2 class="c-section-title--center p-contact__title">お問い合わせ</h2>
    <span class="c-section-subtitle--center">CONTACT</span>
    <div class="p-contact__intro">
        <p>
            当店へのご質問・お問い合わせ等は以下のフォームからご連絡下さい。
        </p>
    </div>
        <%- include('./components/parts/_form.ejs') %>
    </div>
</section>