<section class="p-notice">
   <div class="l-container">
    <div class="p-notice__body">
        <div class="p-notice__wrapper">
            <h2 class="c-section-title--left">お知らせ</h2>
            <div class="c-list-btn-wrapper"><a href="#" class="c-btn--list">一覧へ</a></div>
        </div>
    </div>
    <div class="p-notice__list-body">
        <ul class="p-notice__list">
            <li class="p-notice__item">
                <div class="p-notice__data-info">
                    <time datetime="2021-11-01" class="p-notice__time">2021-11-01</time>
                <span class="p-notice__label">新商品情報</span>
                </div>
                <div class="p-notice__topic">
                    <a href="#" class="p-notice__topic-link">【焼印付】爪とぎ型キーホルダー登場！</a>
                </div>
            </li>
            <li class="p-notice__item">
                <div class="p-notice__data-info">
                    <time datetime="2021-10-28" class="p-notice__time">2021-10-28</time>
                <span class="p-notice__label--default">入荷情報</span>
                </div>
                <div class="p-notice__topic">
                    <a href="#" class="p-notice__topic-link">里親募集型猫カフェ猫式さんの委託販売ブースにアクセサリー・猫首輪・けりぐるみを納品しました。</a>
                </div>
            </li>
            <li class="p-notice__item">
                <div class="p-notice__data-info">
                    <time datetime="2021-10-12" class="p-notice__time">2021-10-12</time>
                    <span class="p-notice__label--default">イベント出店</span>
                </div>
                <div class="p-notice__topic">
                    <a href="#" class="p-notice__topic-link">ニャンフェス14に参加決定。鋭意新作製作中です！</a>
                </div>
            </li>
        </ul>
    </div>
   </div>
</section>