<section class="p-privacy">
  <div class="l-container">
      <h2 class="c-section-title--center p-privacy__title">プライバシーポリシー</h2>
      <span class="c-section-subtitle--center">PRODUCTS</span>
     <div class="p-privacy__intro">
      <p>
        ○○○○○（以下，「当社」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。
      </p>
     </div>
    <div class="p-privacy__section-body">

      <section class="p-privacy__section">
        <h3 class="p-privacy__section-title">第1条（個人情報）</h3>
        <p class="p-privacy__text">
          「個人情報」とは、個人情報保護法における「個人情報」を指すものとし、生存する個人に関する情報であって、当該情報に含まれる氏名、住所、生年月日、電話番号、…
        </p>
      </section>

      <section class="p-privacy__section">
        <h3 class="p-privacy__section-title">第2条（個人情報の収集方法）</h3>
        <p class="p-privacy__text">
          当社は、ユーザーが利用登録をする際に氏名、生年月日、住所、電話番号、メールアドレス、… などの個人情報を収集する場合があります。
        </p>
      </section>

      <section class="p-privacy__section">
        <h3 class="p-privacy__section-title">第3条（個人情報を収集・利用する目的）</h3>
        <p class="p-privacy__text">当社が個人情報を収集・利用する目的は、以下のとおりです。</p>
        <ol class="p-privacy__list">
          <li class="p-privacy__item">当社のサービス提供・運営のため</li>
          <li class="p-privacy__item">ユーザーからのお問い合わせに回答するため</li>
          <li class="p-privacy__item">…</li>
        </ol>
      </section>

      <section class="p-privacy__section p-privacy__contact">
        <h3 class="p-privacy__section-title">第10条（お問い合わせ窓口）</h3>
        <p class="p-privacy__text">本ポリシーに関するお問い合わせは、下記の窓口までお願いいたします。</p>
        <address class="p-privacy__address">
          <span class="p-privacy__address-postal">〒000-0000</span> ○○県○○市○○町1-2-3<br>
          <span class="p-privacy__address-company">会社名：〇〇〇〇〇〇〇〇</span><br>
          Eメールアドレス：<a href="mailto:xxxxxx@xxxxx.jp" aria-label="メールアドレス">xxxxxx@xxxxx.jp</a>
        </address>
      </section>

    </div>
    <p class="p-privacy__conclusion">以上</p>
    </div>
</section>
