<section class="p-profile">
   <div class="l-container">
    <h2 class="p-profile__title">プロフィール</h2>
    <div class="p-profile__image-body">
     <figure class="p-profile__image">
         <img width="140" height="140" src="../images/img_profile.png" alt="ねこのプロフィール画像">
         <figcaption class="p-profile__caption">
             @latelierqueue
         </figcaption>
     </figure>
    </div>
     <div class="p-profile__text">
         猫雑貨・猫おもちゃ、その他ハンドメイド
         時々農家になります。
     </div>
     <%- include('./components/parts/_sns.ejs') %>
   </div>
</section>