<section class="p-product">
    <div class="l-container">
        <h2 class="c-section-title--left p-product__title">おすすめ商品</h2>
        <%- include('./components/parts/_card.ejs')  %>
    </div>
</section>