<section class="p-product-list">
   <div class="l-container">
    <h2 class="c-section-title--center p-product-list__title">商品一覧</h2>
    <span class="c-section-subtitle--center">PRODUCTS</span>
    <%- include('./components/parts/_menu-product.ejs') %>
    <%- include('./components/parts/_card2.ejs') %>
    <%- include('./components/parts/_pagination.ejs') %>
   </div>
</section>