<section class="p-sales">
    <h2 class="p-sales__title">委託販売所</h2>
    <div class="l-container">
           <div class="p-sales__text-body">
              <p class="p-sales__text">当店は現在以下の3店舗のレンタルボックスにて委託販売をさせていただいております。 </p>
               <p class="p-sales__text">商品を実際に手にとってお確かめいただけますので、お近くの方はお気軽にお立ち寄り下さい。</p>
            </div>
         <div class="p-sales__body">
            <div class="p-sales__wrapper">
                <div class="p-sales__card">
                    <figure class="p-sales__image">
                        <img width="440" height="303" src="../images/img_rental_kuroneko_douhua.jpg" alt="台湾スイーツ豆花専門 黒猫豆花の外観の写真">
                    </figure>
                    <div class="p-sales__content">
                        <h3 class="p-sales__shop-name">台湾スイーツ豆花専門黒猫豆花様</h3>

                        <div class="p-sales__info-wrapper">

                        <div class="p-sales__info">
                           <span class="p-sales__label">住所</span>
                           <p class="p-sales__info-text">
                            神奈川県川崎市高津区二子2丁目7-40フォーレスト多摩川10
                         </p>
                        </div>
                        <div class="p-sales__info">
                              <span class="p-sales__label">営業時間</span>
                              <p class="p-sales__info-text">
                               10:00-21:00（時短営業中は20:00まで）
                            </p>
                         </div>
                           <div class="p-sales__info">
                              <span class="p-sales__label">定休日</span>
                              <p class="p-sales__info-text">
                               水曜日
                            </p>
                           </div>
                           <div class="p-sales__info">
                              <span class="p-sales__label">Website</span>
                              <p class="p-sales__info-text">
                               <a href="#" class="p-sales__info-link">https://kuroneko-douhua.com/</a>
                            </p>
                           </div>
                        </div>

                    </div>
                </div>
                <div class="p-sales__card">
                    <figure class="p-sales__image">
                        <img width="440" height="303" src="../images/img_rental_mayscafe.jpg" alt="May’s Cafe -ハンドメイド雑貨＆CAFE-外観の写真">
                    </figure>
                    <div class="p-sales__content">
                        <h3 class="p-sales__shop-name">May'sCafe-ハンドメイド雑貨&CAFE-様</h3>
                        <div class="p-sales__info-wrapper">
                           <div class="p-sales__info">
                              <span class="p-sales__label">住所</span>
                              <p class="p-sales__info-text">
                               東京都世田谷区太子堂5-17-20-1F
                            </p>
                           </div>
                           <div class="p-sales__info">
                              <span class="p-sales__label">営業時間</span>
                              <p class="p-sales__info-text">
                               土日祝日11:00〜19:00のみ営業中
                            </p>
                           </div>
                           <div class="p-sales__info">
                              <span class="p-sales__label">定休日</span>
                              <p class="p-sales__info-text">
                               月〜金曜日
                            </p>
                           </div>
                           <div class="p-sales__info">
                              <span class="p-sales__label">Instagram</span>
                              <p class="p-sales__info-text">
                                 <a href="#" class="p-sales__info-link">https://www.instagram.com/mays._.cafe/</a>
                              </p>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="p-sales__card">
                    <figure class="p-sales__image">
                        <img width="440" height="303" src="../images/img_rental_nekoshiki.jpg" alt="里親募集型猫カフェ 猫式の外観の写真">
                    </figure>
                    <div class="p-sales__content">
                        <h3 class="p-sales__shop-name">里親募集型猫カフェ猫式様</h3>
                        <div class="p-sales__info-wrapper">
                        <div class="p-sales__info">
                           <span class="p-sales__label">住所</span>
                           <p class="p-sales__info-text">神奈川県川崎市高津区溝口1-20-10東方ビル3F 神奈川県川崎市高津区二子2丁目7-40フォーレスト多摩川10
                         </p>
                        </div>
                        <div class="p-sales__info">
                           <span class="p-sales__label">営業時間</span>
                           <p class="p-sales__info-text">
                            12:00～20:00（最終受付19:30）
                         </p>
                        </div>
                        <div class="p-sales__info">
                           <span class="p-sales__label">定休日</span>
                           <p class="p-sales__info-text">
                            月曜日
                         </p>
                        </div>
                        <div class="p-sales__info">
                           <span class="p-sales__label">Website</span>
                           <p class="p-sales__info-text">
                            <a href="#" class="p-sales__info-link">https://www.neko-shiki.net/</a>
                         </p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

</section>