<section class="p-shop">
   <div class="l-container">
    <h2 class="c-section-title--center p-shop__title">ねこ店員紹介</h2>
    <span class="c-section-subtitle--center">CAT STAFF</span>
    <div class="p-shop__intro">
        当店の優秀な（？）ねこ店員さんたちを紹介します。
        店員さんの日々の活動はねこブログにて不定期に報告しております。よろしければそちらもご覧ください♪
    </div>
   </div>
    <div class="p-shop__staff-body">
        <ul class="p-shop__staff-list">
            <li class="p-shop__staff-item">
                <figure class="p-shop__staff-image p-shop__staff-image-01">
                    <img width="800" height="500" src="../images/img_staff_anzu.jpg" alt="あんずセンパイ。当店のスタッフ。">
                </figure>
                <div class="p-shop__staff-text-body p-shop__staff-text-body--left">
                    <h3 class="p-shop__staff-title">あんずセンパイ</h3>
                    <p class="p-shop__staff-text">
                        ふわふわ系女子。控えめに見えて実は要求が通るまで一歩も
                        惹かない強情な性格。後輩に指導を試みてよく返り討ちに遭っている。
                    </p>
                </div>
            </li>
            <li class="p-shop__staff-item p-shop__staff-item--reverse">
                <figure class="p-shop__staff-image p-shop__staff-image-02">
                    <img width="800" height="500" src="../images/img_staff_chamame.jpg" alt="ちゃまめ。当店のスタッフ。">
                </figure>
                <div class="p-shop__staff-text-body p-shop__staff-text-body--right">
                    <h3 class="p-shop__staff-title">ちゃまめコウハイ</h3>
                    <p class="p-shop__staff-text">
                        前職不明の中途採用。
                         自己主張強めだけど意外と人見知り。
                         あんずのものはオレのもの。オレのものはオレのもの。
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>