<section class="p-tokushoho">
    <h2 class="c-section-title--center p-tokushoho__title">特定商取引法に関する表記</h2>
    <div class="l-container">
      <%- include('./components/parts/_table02.ejs') %>
    </div>
</section>
