@use "../../foundation/_mixin.scss" as *;
.p-contact{
 padding: px-clamp(57,74,375,1600) 0 px-clamp(80,100,375,1600) 0;
 &__title{
    position: relative;
    &::before{
        display: block;
        content: "";
        position: absolute;
        top: px-to-rem(-45px);
        left: 50%;
        transform: translateX(-50%);
        background-image: url(../images/ico_paw--contact.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: px-to-rem(117px);
        height: px-to-rem(32px);
    }
 }
 &__intro{
    margin-top: px-to-rem(35px);
    line-height: 1.75;
    @include responsive("phone"){
        text-align: center;
    }
 }
}