@use "../../foundation/_mixin.scss" as *;

.p-form-body{
  margin-top: px-clamp(30,75,375,1600);
}

.p-form{
    width: 100%;
    @include responsive("tablet"){
        width: px-to-rem(800px);
        margin: 0 auto;
    }
    // テキストボックススタイル初期化
    input[type="text"],
    input[type="email"],
    textarea,
    select{
        -webkit-appearance: none;
	     appearance: none;
	     width: 100%;
         padding: px-to-rem(10px) 0 px-to-rem(10px) px-to-rem(20px);
         border: 1px solid var(--form-border-color);
         border-radius: px-to-rem(4px);

    }
    // errorデザイン
    input[id="name"].error,
    input[id="email"].error,
    select.error,
    textarea.error{
        border: 1px solid var(--primary-color);
    }
    // select
    select{
        cursor: pointer;
    }
    &__select-wrapper{
        position: relative;
        display: block;
        &::after{
            content: "";
            position: absolute;
            right: px-to-rem(15px);
            top: 0;
            bottom: 0;
            margin: auto;
            display: block;
            width: px-to-rem(10px);
            height:  px-to-rem(10px);
            border-right: 2px solid var(--form-border-color);
            border-bottom: 2px solid var(--form-border-color);
            transform: rotate(45deg);
            pointer-events: none;
        }
     &.error{
        &::after{
            top: px-to-rem(-25px);
            border-right: 2px solid var(--primary-color);
            border-bottom: 2px solid var(--primary-color);
        }
     }
    }
   // textarea
    &__textarea{
        height: px-to-rem(240px);
    }
    &__item{
        padding: px-to-rem(25px) 0 px-to-rem(30px) 0;
        border-top: 1px dotted var(--active-color);
        border-bottom: 1px dotted var(--active-color);
        &:not(:first-of-type){
            border-bottom: 1px dotted var(--active-color);
        }
    }
    // title
    &__title{
        display: inline-block;
        margin-bottom: px-to-rem(15px);
    }
    // required
    &__required{
      margin-left: px-to-rem(30px);
      padding: 0 px-to-rem(15px);
      font-size: px-to-rem(12px);
      line-height: px-to-rem(30px);
      background-color: var(--primary-color);
      color: var(--base-color);
    }
    // btn
    &__btn{
        margin-top: px-to-rem(80px);
        text-align: center;
    }
}