@use "../../foundation/_mixin.scss" as *;

.p-product{
  padding: px-clamp(80,100,375,1600) 0;
 &__title{
    position: relative;
    &::after{
        content: "";
        display: block;
        width: 95%; // 親要素の幅いっぱいの線を引く
        height: 2px; // 線の太さ
        background-color: #c4a95e; // アンダーラインの色
        position: absolute;
        bottom: 0; // 一番下に配置
        left: px-clamp(21,30,375,1600);
        @include responsive("tablet"){
            width: 98%;
          }
    }
 }
}