@use"../../foundation/_mixin.scss" as *;
.p-tokushoho{
    padding: px-clamp(60,75,375,1600) 0 px-clamp(80,100,375,1600) 0;
    &__title{
        position: relative;
        &::before{
            display: block;
            content: "";
            position: absolute;
            top: px-to-rem(-50px);
            left: 50%;
            transform: translateX(-50%);
            background-image: url(../images/ico_paw--tokushoho.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: px-clamp(159,452,375,1600);
            height: px-to-rem(42px);
        }
    }
}