<div class="c-card__body">
    <div class="c-card-col3 c-card__wrapper">
        <div class="c-card">
            <figure class="c-card__thumb">
                <img width="318" height="190" src="../images/cart-keyholder.jpg" alt="【焼印付】爪とぎ型キーホルダーの商品画像">
            </figure>
             <div class="c-card__head">【焼印付】爪とぎ型キーホルダー</div>
            <div class="c-card__text">
                <p>
                    可愛らしいミニチュアサイズの「猫の爪とぎ」型キーホルダー。
                    木製ケースの裏面には猫シルエットの焼印付きでオシャレ！
                </p>
            </div>
            <div class="c-card__btn c-card__btn--first">
                <a class="c-btn--product" href="cart.html">
                    詳細を見る
                    <span class="c-btn--product__arrow"></span>
                </a>
            </div>
        </div>

        <div class="c-card">
            <figure class="c-card__thumb">
                <img width="318" height="190" src="../images/cart-brooch.jpg" alt="肉球ブローチ（7個セット）の商品画像">
            </figure>
             <div class="c-card__head">【肉球ブローチ（7個セット）</div>
            <div class="c-card__text">
                <p>
                    定番の肉球型のレジンブローチ（7個セット）です。
                </p>
            </div>
            <div class="c-card__btn">
                <a class="c-btn--product" href="cart.html">
                    詳細を見る
                    <span class="c-btn--product__arrow"></span>
                </a>
            </div>
        </div>
        <div class="c-card">
            <figure class="c-card__thumb">
                <img width="318" height="190" src="../images/cart-collar.jpg" alt="レース猫首輪（鈴付き）の商品画像">
            </figure>
             <div class="c-card__head">レース猫首輪（鈴付き）</div>
            <div class="c-card__text">
                <p>
                    アースカラーのレース＋アンティーク調の金具でシックな印象の猫首輪です。
                </p>
            </div>
            <div class="c-card__btn">
                <a class="c-btn--product" href="cart.html">
                    詳細を見る
                    <span class="c-btn--product__arrow"></span>
                </a>
            </div>
        </div>


    </div>
</div>