<div class="c-navigation-btns">
    <div class="c-navigation-btns__wrapper">
        <button type="button" class="c-navigation-btn">すべて</button>
        <button type="button" class="c-navigation-btn">お知らせ</button>
        <button type="button" class="c-navigation-btn">新作紹介</button>
        <button type="button" class="c-navigation-btn">ねこ店員の日常</button>
        <button type="button" class="c-navigation-btn">その他</button>

    </div>

</div>