<div class="c-navigation-btns">
  <div class="c-navigation-btns__wrapper">
    <a href="#" class="c-navigation-btn">すべて</a>
    <a href="#" class="c-navigation-btn">レジンブローチ</a>
    <a href="#" class="c-navigation-btn">猫用首輪</a>
    <a href="#" class="c-navigation-btn">けりぐるみ</a>
    <a href="#" class="c-navigation-btn">アクセサリー</a>
    <a href="#" class="c-navigation-btn">その他雑貨</a>
  </div>
</div>