    <a href="#" class="c-top-btn" aria-label="ページのトップへ戻る">
        <span class="c-top-btn__icon">
            <img width="39" height="27" src="../images/top-btn-icon.png" alt="">
        </span>
        <span class="c-top-btn__text">PAGETOP</span>
    </a>