<div class="c-sns">
   <div class="c-sns__wrapper">
    <figure class="c-sns__image">
        <img width="80" height="80" src="../images/sns_twitter.png" alt="Twitterのロゴマーク">
    </figure>
    <figure class="c-sns__image">
        <img width="80" height="80" src="../images/sns_insta.png" alt="Instagramのロゴマーク">
    </figure>
   </div>
</div>