<div class="c-table01-body">
    <table class="c-table01">
      <tr>
        <th class="c-table01__th">温度管理</th>
        <td class="c-table01__td">
            室温は 夏25℃、冬20℃ を目安に調整する
        </td>
      </tr>
      <tr>
        <th class="c-table01__th">寝床の配置</th>
        <td class="c-table01__td">
            静かで落ち着ける場所にベッドを設置する
        </td>
      </tr>
    </table>
</div>