<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= metaData.blog.description %>">
    <!-- OGP -->
    <meta property="og:title" content="<%= metaData.blog.title %>">
    <meta property="og:description" content="<%= metaData.blog.description %>">
    <meta property="og:type" content="<%= metaData.blog.type %>">
    <meta property="og:url" content="<%= metaData.blog.ogUrl %>">
    <meta property="og:image" content="<%= metaData.blog.ogImage %>">
     <!-- Google-fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
     <!-- css -->
    <link rel="stylesheet" href="/src/scss/style.scss">
    <title><%= metaData.blog.title %></title>
  </head>
  <body>
    <%- include('./components/layout/_header-under.ejs') %>
    <% var page = 'blog'; %>
    <%- include('./components/parts/_breadcrumbs.ejs', { breadcrumbs: breadcrumbs, page: page }) %>
    <%- include('./components/sections/_blog.ejs') %>
    <%- include('./components/layout/_footer.ejs') %>
    <%- include('./components/parts/_side-btn.ejs') %>
        <script type="module" src="/js/main.js"></script>
  </body>
</html>
