<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= metaData.privacy.description %>">
    <meta name="robots" content="noindex , nofollow">
    <!-- OGP -->
    <meta property="og:title" content="<%= metaData.privacy.title %>">
    <meta property="og:description" content="<%= metaData.privacy.description %>">
    <meta property="og:type" content="<%= metaData.privacy.type %>">
    <meta property="og:url" content="<%= metaData.privacy.ogUrl %>">
    <meta property="og:image" content="<%= metaData.privacy.ogImage %>">
     <!-- Google-fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
     <!-- css -->
     <title><%= metaData.privacy.title %></title>
</head>
<body>
    <%- include('./components/layout/_header-under.ejs') %>
    <% var page = 'privacy'; %>
    <%- include('./components/parts/_breadcrumbs.ejs', { breadcrumbs: breadcrumbs, page: page }) %>
    <%- include('./components/sections/_privacy.ejs') %>
    <%- include('./components/layout/_footer.ejs') %>
    <%- include('./components/parts/_side-btn.ejs') %>
    <script type="module" src="/js/main.js"></script>
</body>
</html>